<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Gallery</title>
</head>

<body>
    <header>
            <a href='/'><img class="logo" src="/images/logo-one-piece.jpg" alt="logo"></a>
    </header>

    <div class="container">
        <ul>
            <li> <a href='/'>Home</a></li>
            <li> <a href='/about'>About</a></li>
        </ul>
    </div>
    <div class="gallery">
        <div class="item">
            <img src="/images/luffy.jpg" alt="luffy">
        </div>
        <div class="item">
            <img src="/images/zorro.jpg" alt="luffy">
        </div>
        <div class="item">
            <img src="/images/sanji.jpg" alt="luffy">
        </div>
        <div class="item">
                <img src="/images/chopper.jpg" alt="luffy">
            </div>
            <div class="item">
                <img src="/images/nami.jpg" alt="luffy">
            </div>
            <div class="item">
                <img src="/images/ousoupp.jpg" alt="luffy">
            </div>
    </div>
</body>

</html>